[tool.poetry]
name = "topo-processor"
version = "0.1.0"
description = ""
authors = ["Blayne Chard <bchard@linz.govt.nz>", "Megan Davidson <mdavidson@linz.govt.nz>", "Ben Cheng <BCheng@linz.govt.nz>"]

[tool.poetry.dependencies]
python = "^3.8"
linz-logger= "^0.5.0"
pystac= "^0.5.6"
py-multihash = "^2.0.1"
rasterio = "^1.2.3"
click = "^7.1.2"
ulid = "^1.1"
aiofiles = "^0.6.0"
s3fs = "^2021.4.0"

[tool.poetry.dev-dependencies]
black = "^21.4b1"
isort = "^5.8.0"
pylint = "^2.8.2"
pytest = "^6.2.3"
rope = "^0.19.0"
pytest-asyncio = "^0.15.1"
pytest-cov = "^2.11.1"
pytest-mock = "^3.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 127

[tool.isort]
line_length = 127
case_sensitive = true
use_parentheses = true
include_trailing_comma = true
multi_line_output = 3
force_grid_wrap = 0
